@import "colors.css";

* {
  font-family: "JetBrainsMono Nerd Font Propo";
  font-weight: 700;
  font-size: 13px;
}

#waybar {
  background: transparent;
}

.modules-center {
  margin: 0;
}

.modules-center > widget {
  margin: 0;
}

.modules-center {
  background: alpha(@bg, 1);
  border-radius: 9999px;
  transition: all 0.2s ease;
}

#window {
  padding-left: 18px;
}

#clock {
  font-size: 13px;
  padding-right: 18px;
  font-weight: 700;
}

#mpris {
  padding-left: 18px;
}

#pulseaudio {
  margin-right: 12px;
}

#bluetooth {
  margin-right: 12px;
}

#workspaces button {
  color: @fg;
  all: initial;
  padding: 4px 10px;
  transition: color 0.25s ease;
}

#workspaces button.inactive { color: @fg_dim; }
#workspaces button.active { color: @green; }
#workspaces button.urgent { color: @red; }

#clock { color: @yellow; }

#custom-active_window {
    padding: 3px 6px;
    margin-left: 10px;
    font-size: 12px;
}

#group-right1,
#group_right1,
#right1 {
    background-color: alpha(@background, 0.6);
    font-weight: 800;
    padding: 0px 5px;
    margin-top: -8px;
    margin-right: 4px;
    border-radius: 16px;
}

#tray {
  font-weight: 800;
  background:alpha(@fg, 0.0);
  border-radius: 16px;
  padding: 0px 5px;
  margin-top: -8px;
  margin-right: 4px;
}
